{
  "extends": ["nzap", "nzap/tsx", "nzap/jest"],
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/display-name": 0,
    "jest/prefer-lowercase-title": 0,
    "@typescript-eslint/strict-boolean-expressions": 0
  }
}
